.history-item[b-kyeermpvsd] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface);
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
}

.history-weight[b-kyeermpvsd] {
    font-size: var(--font-base);
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
}

.history-date[b-kyeermpvsd] {
    font-size: var(--font-xs);
    color: var(--color-subtle-text);
}

.history-change[b-kyeermpvsd] {
    font-size: var(--font-sm);
    font-weight: var(--font-weight-bold);
    color: var(--color-subtle-text);
}

.history-down[b-kyeermpvsd] {
    color: var(--color-success);
}

.history-up[b-kyeermpvsd] {
    color: var(--color-danger);
}
