<div class="weight-tracking">
    <header class="weight-header">
        <h3 class="mb-xl-3">Weight Tracking</h3>
    </header>

    <section class="weight-content">
        <div class="chart-placeholder">
            <!-- Später Chart hier -->
            Weight Chart Placeholder
        </div>

        <div class="weight-info">
            <div class="weight-item">
                <span class="label">Current Weight</span>
                <br />
                <span class="value">75 kg</span>
            </div>

            <div class="weight-item">
                <span class="label">Goal Weight</span>
                <br />
                <span class="value">70 kg</span>
            </div>
        </div>
    </section>
</div>
