<button class="ghost-button" @onclick="OnClick">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <span class="button-icon">@Icon</span>
    }
    @Label
</button>

@code {
    [Parameter]
	public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Icon { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnClick { get; set; }
}
