@page "/settings"
@using CombatPlanner.Client.Components.Settings

<div class="settings-wrapper">
    <h2 class="settings-title">Settings</h2>

    <div class="settings-list">
        <SettingsItem Label="Edit Profile" />
        <SettingsItem Label="Help & Support" />
        <SettingsItem Label="Logout"/>
    </div>
</div>
